.footers{
    padding: 1rem;
    display: block;
}
.footer{
    height: calc(10vh-5rem);
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background: url('/public/footer-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.footer-detail{
    color: black; 
    padding: 0.5rem; 
      
}
.footer-image{
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;  
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.contact__details{
    display: flex;
    gap: 0.5rem;
}
.contact__details input{
    height: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
}
.contact__details label{
    font-size: 1rem;
    font-weight: 800;
    font-style: italic;
}
.contact__details textarea{
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
}
.contact button{
    width: 50%;
    height: 1.8rem;
    background-color: orangered;
    color:whitesmoke;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.footer-social{
    padding: 0.5rem;    
}
.footer__header{
    text-decoration:underline;
    color: black;
}

@media screen and (max-width:768px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
