.App{
  display: block;
  padding: 1rem;
  color: gray;

}
.navigation{
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.logo__name{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
.logo{
  width: 2rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 50%;
}
.searching{
  padding: 0.25rem;
}
.search{
  height: 2rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}
.search::placeholder{
  text-indent: 2rem;
}
.search:focus{
  border: 1px solid violet;
}
.hamburger{
  position: absolute;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: none;
}
.clickable__links{
  margin-left: auto;
}
.clickable__links .menu{
  display: flex;
  padding: 0;
}
.clickable__links .menu li{
  list-style-type: none;
  margin: 0 1rem;
}
.clickable__links .menu li a{
  text-decoration: none;
  display: block;
  width: 100%;
}
@media screen and (max-width:600px) {
  .hamburger{
    display: block;
  }
  .searching{
    display: none;
  }
  
}
@media screen and (max-width:768px) {
  .hamburger{
    display: block;
  }
  .searching .search{
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 2rem;
    background-color: whitesmoke;
  }
  .clickable__links .menu{
    display: none;
    position: absolute;
    top: 5.7rem;
    left: 0;
    z-index: 3;
    flex-direction: column;
    width: 100%;
    height: calc(10vh - 4.8rem);
    background-color: whitesmoke;
    border-radius: 0.2rem;
  }
  .clickable__links .menu li{
    text-align: center;
    margin: 0;
  }
  .clickable__links .menu li a{
    color: black;
    width: 100%;
    padding: 0.5rem 0;
  }
  .clickable__links .menu li:hover{
    background-color: orangered;
    border-radius: 0.2rem;
  }
  .clickable__links .menu.expanded{
    display: block;
  }
  .searching .search.expanded{
    display: block;
  }
  .header-pos{
    height: calc(10vh-5rem);

  }
}
